body {
    background: linear-gradient(to right, #ffee8f, #e26868);
  }
  
  .main-header {
    position: fixed; 
    top: 0;
    width: 100%;
    height: 50px;
    margin-left: -10px;
    z-index: 1000;
    font-family: Montserrat, sans-serif;
    color: #fff;
    background: linear-gradient(to right, #ffee8f, #e26868);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 5%;
    border-bottom: 2px solid white;
  }

  .main-header.fixed {
    background: linear-gradient(to right, #ffee8f, #e26868); 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    border-bottom: 2px solid white;
  }
  
  .main-logo {
    margin-left: -60px;
    margin-top: 50px;
    font-weight: 700;
    font-size: 1.875em;
  }
  
  .main-menu {
    margin-top: -33px;
    margin-top: -40px;
    margin-left: 700px;
    text-align: right;
    list-style: none;
    padding: 0;
  }

  
  .main-menu li {
    display: inline-block;
    padding: 0.75em 1.875em;
  }
  
  .main-menu a {
    padding-bottom: 0.75em;
    text-transform: uppercase;
    color: #fff;
    font-size: 0.875em;
    text-decoration: none;
    transition: 0.1s;
  }
  
  .main-menu a:hover {
    color: #fce38a;
    border-bottom: 0.1875em solid #fce38a;
  }
  

  .main-menu21 {
    margin-top: -33px;
    margin-left: 950px;
    text-align: right;
    list-style: none;
    padding: 0;
  }

  .main-menu21 li {
    display: inline-block;
    padding: 0.75em 1.875em;
  }
  
  .main-menu21 a {
    padding-bottom: 0.75em;
    text-transform: uppercase;
    color: #fff;
    font-size: 0.875em;
    text-decoration: none;
    transition: 0.1s;
  }
  
  .main-menu21 a:hover {
    color: #fce38a;
    border-bottom: 0.1875em solid #fce38a;
  }


  .main-menu31 {
    margin-top: -33px;
    margin-left: 800px;
    text-align: right;
    list-style: none;
    padding: 0;
  }

  .main-menu31 li {
    display: inline-block;
    padding: 0.75em 1.875em;
  }
  
  .main-menu31 a {
    padding-bottom: 0.75em;
    text-transform: uppercase;
    color: #fff;
    font-size: 0.875em;
    text-decoration: none;
    transition: 0.1s;
  }
  
  .main-menu31 a:hover {
    color: #fce38a;
    border-bottom: 0.1875em solid #fce38a;
  }


  .content {
    font-family: Montserrat, sans-serif;
    color: rgba(245, 245, 245);
    text-align: center;
    text-shadow: 1px 1px 1px #b4b4b4;
  }
  
  .icon-button img {
    width: 200px;
    height: 100px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
    transition: box-shadow 0.3s ease;
  }
  
  .icon-button img:hover {
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
  }

  .botoes {
    align-items: center;
  }

  .instrucoes {
    margin-left: 220px;
    background-color: rgb(235, 228, 228);
    color: #a1a1a1;
    width: 880px;
    height: 330px;
    text-align: center;
    border-radius: 10px;
  }

  .instrucoes p {
    font-family: Montserrat, sans-serif;
    font-weight: bold;
  }

  #textAnimation p {
    opacity: 0;
    transition: opacity 3s ease;
  }





  .fade-in.show{
    opacity: 1;
    transform: translateY(0);
    text-align: justify;
  }
  
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  .fade-in {
    animation: fadeIn 4s ease-out forwards;
    opacity: 0;
  }


  .main-footer {
    margin-left: -10px;
    height: 50px;
    font-family: Montserrat, sans-serif;
    color: #fff;
    background: linear-gradient(to right, #ffee8f, #e26868);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 5%;
    border-top: 2px solid white;
  }

  .main-footer a {
    font-weight: bold;
    padding-bottom: 0.75em;
    text-transform: uppercase;
    color: #fff;
    font-size: 0.875em;
    text-decoration: none;
    transition: 0.1s;
  }
  
  .main-footer a:hover {
    color: #fce38a;
  }

  .icon-button2 img {
    width: 50;
    height: 50;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
    transition: box-shadow 0.3s ease;
  }
  
  .icon-button2 img:hover {
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
  }

  .botoes2 {
    align-items: left;
  }

  .botoes21 {
    align-items: center;
  }

  .botoes41 {
    align-items: right;
  }