* {
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    margin: 0;
    background-image: linear-gradient(rgb(226,80,76), rgb(255, 177, 59), rgb(245, 245, 121));
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    width: 300px;
    text-align: center;
}

input {
    display: block;
    margin: 10px auto;
    width: 250px;
    height: 30px;
}
