body {
    background-image: linear-gradient(rgba(243,129,129,.9), rgba(252,227,138,.9));
    font-family: Montserrat, sans-serif;
    color: #fff;
    text-align: center;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(243,129,129,.9);
    height: 15vh;
    border-bottom: 5px solid white;
}

header h3 {
    margin: 0;
    text-shadow: 1px 1px 5px rgba(109, 109, 109, 0.7);
}

nav {
    display: flex;
    gap: 20px;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    background: rgba(243,129,129,.9);
    padding: 10px 20px;
    border-radius: 8px;
    text-shadow: 1px 1px 5px rgba(109, 109, 109, 0.3);
    transition: 0.3s ease;
}

nav a:hover {
    background: rgba(255, 255, 255, 0.315);
}

.container {
    margin: 50px auto;
    width: 1000px;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);

}

fieldset {
    background: rgba(255, 255, 255, 0.3);
    padding: 20px;
    border-radius: 8px;
}

legend {
    color: #fff;
    font-weight: bold;
    font-size: 1.2em;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);

}

table {
    width: 945px;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 12px;
    text-align: left;
}

th {
    background-color: rgba(206, 91, 91, 0.9);
    color: #fff;
}

tr:nth-child(even) {
    background-color: rgba(255, 117, 117, 0.9);
}

tr:nth-child(odd) {
    background-color: rgba(243, 129, 129, 0.8);
}

tr:hover {
    background-color: rgba(172, 88, 88, 0.9);
}