<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="/estilos/cadastrar.css"/>
    <link rel="icon" type="image/x-icon" href="/imagens/iconsolar.ico">
    <title><%= title %></title>

</head>

<body>
    <header>
        Dream Builder 2
    </header>
    
    <div class="blocoCadastro">
        <main>
            <center>
                <div class="erro">
                    <div class="alert alert-danger">
                        <%= mensagem %>
                    </div>
                </div>

                <form action="/salvar" method="post" class="form-cadastro">
                    <label>Usuário:</label>
                    <input type="text" class="form-control" name="login" />

                    <label>Senha:</label>
                    <input type="password" class="form-control" name="senha" />

                    <input type="submit" value="Cadastrar" class="btn btn-primary">
                </form>

                <p class="texto-com-sombra">Já tem uma conta? <a href="/" class="btn btn-secondary">Login</a></p>
            </center>
        </main>
    </div>
</body>
</html>
