<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <style>
        body {
            background-image: linear-gradient(rgba(243,129,129,.9), rgba(252,227,138,.9));
            font-family: Montserrat, sans-serif;
            color: #fff;
            text-align: center;
            margin: 0;
            padding: 0;
        }
        
        header {
            display: flex;
            justify-content: space-around;
            align-items: center;
            background-color: rgba(243,129,129,.9);
            height: 15vh;
            border-bottom: 5px solid white;
        }

        header h3 {
            margin: 0;
        }

        nav {
            display: flex;
            gap: 20px;
        }

        nav a {
            color: white;
            text-decoration: none;
            font-weight: bold;
            background: rgba(243,129,129,.9);
            padding: 10px 20px;
            border-radius: 8px;
            transition: 0.3s ease;
        }

        nav a:hover {
            background: rgba(255, 255, 255, 0.8);
        }

        .container {
            margin: 50px auto;
            width: 80%;
            max-width: 600px;
        }

        .box {
            background: rgba(255, 255, 255, 0.3);
            padding: 20px;
            border-radius: 10px;
            margin-bottom: 20px;
            width: 577px;
        }

        .box h4 {
            color: #fff;
            font-size: 1.2em;
            text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
        }

        .box form input[type="submit"] {
            background-color: rgba(255, 122, 98, 0.5);
            border: none;
            padding: 10px 20px;
            font-size: 1em;
            color: #fff;
            text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
            border-radius: 5px;
            cursor: pointer;
            transition: 0.3s ease;
        }

        .box form input[type="submit"]:hover {
            background-color: rgba(192, 89, 71, 0.5);
        }


    </style>
</head>
<body>

    <header>
        <h3>Gerenciador de Tarefas<br>Dream Builder 2</h3>
        <nav>
            <a href="/site">Site Dream Builder 2</a>
            <a href="/evolucao">Sua Evolução</a>
            <a href="/curdicoes">Cursos e Edições</a>
            <a href="/contato">Fale Conosco</a>
        </nav>
    </header>

    <div class="container">
        <div class="box">
            <h4>Sua Evolução</h4>
            <form action="/evolucao" method="get">
                <input type="submit" value="Abrir Formulário">
            </form>
        </div>

        <div class="box">
            <h4>Cursos e Edições</h4>
            <h4>Cursos</h4>
            <form action="/livros/listar" method="post">
                <input type="submit" value="Listar ADS">
            </form><br>
            <form action="/livros/listar" method="post">
                <input type="submit" value="Listar DSM">
            </form><br>
            <form action="/livros/listar" method="post">
                <input type="submit" value="Listar GE">
            </form><br>
            <form action="/livros/listar" method="post">
                <input type="submit" value="Listar GPI">
            </form><br>
            <form action="/livros/listar" method="post">
                <input type="submit" value="Listar GRH">
            </form>
            <h4>Edições</h4>
            <form action="/livros/listar" method="post">
                <input type="submit" value="Listar Edicoes">
            </form>
        </div>

        <div class="box">
            <h4>Fale Conosco</h4>
            <form action="/contato" method="get">
                <input type="submit" value="Abrir Formulário">
            </form>
        </div>
    </div>


</body>
</html>
