body {
    background: linear-gradient(to right, #ffee8f, #e26868);
  }
  
  .main-footer {
    margin-left: -10px;
    height: 50px;
    font-family: Montserrat, sans-serif;
    color: #fff;
    background: linear-gradient(to right, #ffee8f, #e26868);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 5%;
    border-top: 2px solid white;
  }

  .main-footer a {
    font-weight: bold;
    padding-bottom: 0.75em;
    text-transform: uppercase;
    color: #fff;
    font-size: 0.875em;
    text-decoration: none;
    transition: 0.1s;
  }
  
  .main-footer a:hover {
    color: #fce38a;
  }

  .icon-button img {
    width: 50;
    height: 50;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
    transition: box-shadow 0.3s ease;
  }
  
  .icon-button img:hover {
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
  }

  .botoes {
    align-items: left;
  }

  .botoes2 {
    align-items: center;
  }

  .botoes21 {
    align-items: right;
  }



  .main-header {
    position: fixed; 
    top: 0;
    width: 100%;
    margin-left: -10px;
    height: 50px;
    z-index: 1000;
    font-family: Montserrat, sans-serif;
    color: #fff;
    background: linear-gradient(to right, #ffee8f, #e26868);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 5%;
    border-bottom: 2px solid white;
  }

  .main-header.fixed {
    background: linear-gradient(to right, #ffee8f, #e26868);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    border-bottom: 2px solid white;
  }
  
  .main-logo {
    margin-top: 50px;
    margin-left: -60px;
    font-weight: 700;
    font-size: 1.875em;
  }
  
  .main-menu {
    margin-top: -40px;
    margin-left: 750px;
    text-align: right;
    list-style: none;
    padding: 0;
  }

  .main-menu li {
    display: inline-block;
    padding: 0.75em 1.875em;
  }
  
  .main-menu a {
    padding-bottom: 0.75em;
    text-transform: uppercase;
    color: #fff;
    font-size: 0.875em;
    text-decoration: none;
    transition: 0.1s;
  }
  
  .main-menu a:hover {
    color: #fce38a;
    border-bottom: 0.1875em solid #fce38a;
  }
  

  .content {
    font-family: Montserrat, sans-serif;
    color: rgb(255, 255, 255);
    text-align: center;
    text-shadow: 1px 1px 1px #b4b4b4;
  }

  .instrucoes2 {
    margin-left: 460px;
    background-color: whitesmoke;
    color: rgb(66, 44, 51);
    width: 400px;
    height: 250px;
    text-align: justify;
    align-items: center;
    border-radius: 10px;
  }

  .instrucoes2 p {
    font-family: Montserrat, sans-serif;
    margin-left: 50px;
  }


  .fade-in.show{
    opacity: 1;
    transform: translateY(0);
    text-align: justify;
  }
  
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  .fade-in {
    animation: fadeIn 4s ease-out forwards;
    opacity: 0;
  }
  
